.mg-top-30 {
  margin-top: 30px;
}
.mg-top-45 {
  margin-top: 45px;
}
.tamanho-fonte-40 {
  font-size: 40px;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
}

.mr-10 {
  margin-right: 10px;
}