.navbar-default {
  background-color: #33313100;
  border-bottom: 2px solid #333131;
  margin: 10px 100px;
}
.navbar {
  border-radius: 0px;
	border-top: none;
  border-right: none;
  border-left: none;
  color: #2A2A2A;
}
.navbar-nav>li {
  margin: 5px;
}
.navbar-default .navbar-nav>li>a {
    color: #333131;
    font-size: 25px;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    margin: 2px;
    padding: 10px 20px;
}
.espacamento-direita {
     margin-right:50px;
}
body {
  background: linear-gradient(to right, #AFADA94D, #D7D5D3E6);
}

.active, .active:hover {
  background-color: #A4A0A0 !important;
  border-radius: 50px;
}
a:focus {
  outline: none;
}
.espacamento {
  margin-top: 80px;
}
.h-1 {
  font-family: "Ledger", serif;
  color: #2A2A2A;
}